



<div class="art-app art-app-onepage">

    <!-- mobile top bar -->
    <div class="art-mobile-top-bar"></div>
  
  
    <!-- app wrapper -->
    <div class="art-app-wrapper">
  
      <!-- app container end -->
      <div class="art-app-container">
  
        <!-- info bar -->
       <app-shared></app-shared>
        <!-- info bar end -->
  
        <!-- content -->
        <div class="art-content">
  
          <!-- curtain -->
          <div class="art-curtain"></div>
  
          <!-- top background -->
          <div class="art-top-bg" style="background-image: url(../../assets/img/bg.jpg)">
            <!-- overlay -->
            <div class="art-top-bg-overlay"></div>
            <!-- overlay end -->
          </div>
          <!-- top background end -->
  
          <!-- swup container -->
         <app-pages></app-pages>
          <!-- swup container end -->
  
        </div>
        <!-- content end -->
  
      </div>
      <!-- app container end -->
  
    </div>
    <!-- app wrapper end -->
  
    <!-- preloader -->
    <div class="art-preloader">
      <!-- preloader content -->
      <div class="art-preloader-content">
        <!-- title -->
        <h4>Raptors</h4>
        <!-- progressbar -->
        <div id="preloader" class="art-preloader-load"></div>
      </div>
      <!-- preloader content end -->
    </div>
    <!-- preloader end -->
  
  </div>


  <div id="swupMenu"></div>