<div class="art-info-bar">
  
    <!-- menu bar frame -->
    <div class="art-info-bar-frame">

      <app-header></app-header>

      <!-- scroll frame -->
      <div id="scrollbar2" class="art-scroll-frame">

       <app-sidebar></app-sidebar>

      </div>
      <!-- scroll frame end -->

      <!-- sidebar social -->
      <div class="art-ls-social">
        <!-- social link -->
        <a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
        <!-- social link -->
        <a href="#." target="_blank"><i class="fab fa-facebook"></i></a>
        <!-- social link -->
        <a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- sidebar social end -->

    </div>
    <!-- menu bar frame end -->

  </div>