<!-- info bar header -->
<div class="art-info-bar-header">
    <!-- info bar button -->
    <a class="art-info-bar-btn" href="#.">
      <!-- icon -->
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <!-- info bar button end -->
  </div>
  <!-- info bar header end -->

  <!-- info bar header -->
  <div class="art-header">
    <!-- avatar -->
    <div class="art-avatar">
      <a data-fancybox="avatar" href="../../assets/img/5.png" class="art-avatar-curtain">
        <img src="../../assets/img/5.png" alt="avatar">
        <i class="fas fa-expand"></i>
      </a>
    </div>
    <!-- avatar end -->
    <!-- name -->
    <h5 class="art-name mb-10">Raptors VoleyClub</h5>
    <!-- post -->
    <div class="art-sm-text">Descubre<br>Tus limites</div>
  </div>
  <!-- info bar header end -->